/* HOMEPAGE Mobile par défaut (moins de 1080px) */

* {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    scroll-behavior: smooth;
}

$primary-color: #9356DC;
$secondary-color: #FF79DA;
$third-color: #99E2D0;
$dark-gray: #353535;
$light-gray: #F6F6F6;

@mixin button {
    font-size: 16px;
    font-weight: 500;
    text-align: center;
    color: white;
    width: 218px;
    height: 50px;
    background: linear-gradient(#FF79DA, #9356DC);
    box-shadow: 0px 4px 10px 0px #00000040;
    border-radius: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    transition: box-shadow 0.5s ease;

    &::after {
        content: "";
        position: absolute;
        inset: 0;
        background: white;
        opacity: 0;
        transition: opacity 0.2s ease;
        border-radius: 25px;
    }

    &:hover {
        box-shadow: 0 8px 20px 0 #00000080;
    }

    &:hover::after {
        opacity: 0.15;
    }
}

@mixin like {
    position: relative;
    width: 23px;
    height: 21px;

    &-input {
        position: absolute;
        opacity: 0;
        width: 100%;
        height: 100%;
        margin: 0;
        cursor: pointer;
        z-index: 3;
    }

    &-label {
        position: absolute;
        inset: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
    }

    &__icon {
        position: absolute;
        inset: 0;
        width: 100%;
        height: 100%;
        transition: opacity 1s ease;

        &--empty {
            opacity: 1;
        }

        &--filled {
            opacity: 0;
        }
    }

    &-input:hover+.card__like-label {
        .card__like__icon--empty {
            opacity: 0;
        }

        .card__like__icon--filled {
            opacity: 1;
        }
    }

    &-input:checked+.card__like-label {
        .card__like__icon--empty {
            opacity: 0;
        }

        .card__like__icon--filled {
            opacity: 1;
        }
    }
}

h2 {
    font-size: 24px;
    font-weight: 700;
}

a {
    text-decoration: none;
}

.main {
    position: relative;
    background-color: $light-gray;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-items: stretch;

    .loader {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        position: fixed;
        gap: 20px;
        background-color: rgba(255, 255, 255, 0.9);
        color: $dark-gray;
        inset: 0;
        z-index: 100;
        opacity: 1;
        font-size: 24px;
        animation: fadeout 1s linear forwards;
        animation-delay: 2s;

        @keyframes fadeout {
            0% {
                opacity: 1;
                visibility: visible;
            }

            100% {
                opacity: 0;
                visibility: hidden;
            }
        }

        i {
            animation: spin 1s linear infinite;

            @keyframes spin {
                0% {
                    transform: rotate(0deg);
                }

                100% {
                    transform: rotate(360deg);
                }
            }
        }
    }

    .header-logo {
        display: flex;
        height: 63px;
        width: 100%;
        justify-content: center;
        align-items: center;
        background-color: white;

        img {
            width: 197px;
            height: 36px;
        }
    }

    .where {
        display: flex;
        flex-direction: row;
        height: 50px;
        justify-content: center;
        align-items: center;
        box-shadow: inset 0px 2px 4px 0px rgba(0, 0, 0, 0.25);
        gap: 17px;
        color: $dark-gray;
        font-weight: 500;
        background-color: #EAEAEA;
    }

    .location {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 0 20px;
        box-shadow: inset 0px 4px 4px 0px rgba(0, 0, 0, 0.25);

        h1 {
            font-size: 24px;
            margin-top: 39px;
            text-align: center;
            width: 100%;
            min-width: 275px;
            height: 68px;
            font-weight: 700;
        }

        p {
            font-size: 18px;
            color: $dark-gray;
            width: 100%;
            min-width: 315px;
            height: 46px;
            text-align: center;
            margin-bottom: 27px;
            font-weight: 300;
        }

        .btn {
            @include button;
            margin-bottom: 57px;
        }
    }

    .how {
        height: 440px;
        display: flex;
        flex-direction: column;
        padding: 0 20px;
        background-color: white;

        &__title {
            margin-top: 48px;
            margin-bottom: 26px;
        }

        .how-to-do {
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        .step {
            display: flex;
            flex-direction: row;
            position: relative;
            margin-bottom: 25px;
            align-items: center;
            width: 100%;
            max-width: 490px;
            min-width: 335px;

            &__content {
                display: flex;
                flex-direction: row;
                justify-content: space-evenly;
                height: 72px;
                width: 100%;
                background-color: $light-gray;
                box-shadow: 0px 4px 15px 0px #00000026;
                align-items: center;
                border-radius: 20px;
                margin-left: 12px;
            }

            &__number {
                background-color: $primary-color;
                color: white;
                font-size: 14px;
                font-weight: 500;
                width: 24px;
                height: 24px;
                border-radius: 50%;
                text-align: center;
                display: flex;
                align-items: center;
                justify-content: center;
                position: absolute;
                z-index: 1;
            }

            &__icon {
                color: #7E7E7E;

                &--purple {
                    color: $primary-color;
                }
            }

            &__text {
                font-size: 16px;
                font-weight: 500;
                width: 211px;
            }
        }
    }

    .restaurants {
        display: flex;
        flex-direction: column;
        margin: 0 20px;

        h2 {
            margin-top: 54px;
        }

        .all-cards {
            display: grid;
            grid-template-columns: repeat(1, 1fr);
            justify-items: center;
            margin-bottom: 66px;
        }

        .card {
            display: flex;
            flex-direction: column;
            max-width: 490px;
            min-width: 340px;
            width: 100%;
            height: 251px;
            border-radius: 15px;
            overflow: hidden;
            background-color: white;
            margin-top: 18px;
            position: relative;
            box-shadow: 0px 4px 15px 0px #0000001A;

            &__link {
                position: absolute;
                inset: 0;
                z-index: 2;
            }

            &__image {
                height: calc(251px - 77px);
                position: relative;

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    display: block;
                }

                .card__label {
                    position: absolute;
                    top: 13px;
                    right: 12px;
                    background-color: $third-color;
                    width: 80px;
                    height: 29px;
                    border-radius: 2px;
                    font-size: 14px;
                    font-weight: 500;
                    color: #008766;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }
            }

            &__content {
                height: 77px;
                padding: 0 25px 0 13px;
                background-color: white;
                display: flex;
                align-items: center;
                color: black;
                justify-content: space-between;
            }

            &__text {
                display: flex;
                flex-direction: column;
                gap: 5px;
            }

            &__like {
                @include like;
            }
        }
    }
}

footer {
    background-color: $dark-gray;
    color: white;
    padding: 22px 25px;

    h4 {
        font-family: 'Shrikhand';
        font-weight: 400;
        font-size: 18px;
        margin-bottom: 16px;
        width: 139px;
    }

    ul {
        list-style: none;
        padding: 0;
        margin: 0;
        display: flex;
        flex-direction: column;
        gap: 7px;

        a {
            color: white;
            text-decoration: none;
            font-weight: 500;
            display: flex;
            align-items: center;
            gap: 10px;

            i {
                font-size: 13px;
                text-align: center;
                width: 13px;
            }
        }

        a.with-icon {
            width: 190px;
            height: 19px;
        }

        a.without-icon {
            width: 130px;
            height: 19px;
        }
    }
}

/* HOMEPAGE Desktop (plus de 1080px) */
@media (min-width: 1080px) {
    html {
        display: flex;
        justify-content: center;
    }

    .main {
        .header-logo {
            height: 96px;
        }

        .location {
            margin: 0;
            padding: 30px 0;
            display: flex;
            flex-direction: column;
            gap: 18px;

            h1 {
                margin: 0;
                width: auto;
                height: auto;
                font-size: 40px;
                font-weight: 700;
            }

            p {
                margin: 0;
                width: auto;
                height: auto;
            }

            .btn {
                margin: 0;
            }
        }

        .how {
            height: auto;
            padding: 50px 0;
            display: flex;
            flex-direction: column;
            gap: 25px;

            &__title {
                margin: 0 auto;
                width: 1080px;
            }

            .how-to-do {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                margin: 0 auto;
                max-width: 1080px;
                width: 100%;

                .step {
                    margin: 0;
                }
            }
        }

        .restaurants {
            display: flex;
            max-width: 1080px;
            margin: 0 auto;
            padding: 30px 0;

            h2 {
                margin: 0;
                width: 1080px;
            }

            .all-cards {
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                margin: 0;
                gap: 50px 100px;

                .card {
                    width: 100%;
                    max-width: 490px;
                }
            }
        }

        footer {
            display: flex;
            flex-direction: row-reverse;
            height: 114px;
            padding: 0 25px 30px 0;

            h4 {
                display: flex;
                margin: 0;
                align-items: flex-end;
                padding-left: 16px;
            }

            ul {
                flex-direction: row;
                gap: 7px;
                align-items: flex-end;
            }
        }
    }
}

/* MENU RESTAURANT Mobile par défaut (moins de 1080px) */
.menu-restaurant {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: $light-gray;
    width: 100%;

    .header-logo {
        display: flex;
        height: 63px;
        width: 100%;
        justify-content: center;
        align-items: center;
        background-color: white;
        position: relative;

        .box-return {
            width: 30px;
            height: 30px;
            position: absolute;
            left: 23px;
            display: flex;
            justify-content: center;
            align-items: center;

            .return {
                color: $dark-gray;
            }
        }

        img {
            width: 197px;
            height: 36px;
        }
    }

    .profil-image {
        height: 275px;
        width: 100%;
        overflow: hidden;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            display: block;
        }
    }

    .menu {
        &__title {
            display: flex;
            justify-content: space-between;
            background-color: $light-gray;
            position: relative;
            align-items: center;
            padding: 32px 17px 0 17px;
            border-radius: 40px 40px 0 0;
            margin-top: -32px;

            h1 {
                font-family: 'Shrikhand';
                font-size: 28px;
                font-weight: 400;
            }

            .card__like {
                @include like;
                margin-right: 24px;
            }
        }

        &__foods {
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        .entrees {
            display: flex;
            justify-content: center;
            max-width: 634px;
            width: 100%;
            opacity: 0;
            animation: fade-in 1s linear forwards;
        }

        .plats {
            display: flex;
            justify-content: center;
            max-width: 634px;
            width: 100%;
            opacity: 0;
            animation: fade-in 1s linear forwards 1s;
        }

        .desserts {
            display: flex;
            justify-content: center;
            max-width: 634px;
            width: 100%;
            opacity: 0;
            animation: fade-in 1s linear forwards 2s;
        }

        @keyframes fade-in {
            0% {
                opacity: 0;
            }

            100% {
                opacity: 1;
            }
        }

        &__partition {
            margin: 0 13px;
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 100%;
            gap: 10px;

            h2 {
                align-self: flex-start;
                font-size: 16px;
                font-weight: 300;
                padding-bottom: 10px;
                position: relative;
                margin-top: 40px;

                &::after {
                    content: "";
                    display: block;
                    width: 40px;
                    height: 3px;
                    background: #99E2D0;
                    margin-top: 5px;
                }
            }

            .card-menu {
                min-width: 349px;
                max-width: 634px;
                width: 100%;
                height: 69px;
                display: flex;
                align-items: center;
                background: white;
                border-radius: 15px;
                box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
                position: relative;
                overflow: hidden;

                .menu-input {
                    display: none;
                }

                .menu-label {
                    display: flex;
                    align-items: center;
                    width: 100%;
                    cursor: pointer;
                    height: 100%;

                    .text {
                        display: flex;
                        flex-direction: column;
                        flex: 1;
                        min-width: 0;
                        transition: max-width 1s ease;
                        padding: 0 15px;

                        .name-food,
                        .description-food {
                            overflow: hidden;
                            text-overflow: ellipsis;
                            white-space: nowrap;
                        }

                        .name-food {
                            font-size: 18px;
                            font-weight: 500;
                        }

                        .description-food {
                            font-size: 15px;
                            font-weight: 300;
                        }
                    }
                }

                .selected {
                    position: absolute;
                    right: -60px;
                    top: 0;
                    display: flex;
                    align-items: flex-end;
                    transition: right 1s ease;

                    .price {
                        padding-right: 15px;
                        font-size: 15px;
                        font-weight: 700;
                        padding-bottom: 14px;
                    }
                }
            }

            .menu-input:checked+.menu-label .selected {
                right: 0;
            }

            .menu-input:checked+.menu-label .text {
                max-width: calc(100% - 90px);
            }

            .menu-input:hover+.menu-label .selected {
                right: 0;
            }

            .menu-input:hover+.menu-label .text {
                max-width: calc(100% - 90px);
            }
        }

        .btn {
            @include button;
            margin: 40px 0;
        }
    }

    /* MENU RESTAURANT Desktop (plus de 1080px) */

    @media (min-width: 1080px) {
        .menu {
            &__title {
                justify-content: center;
                gap: 24px;
            }

            &__partition .card-menu {
                width: 634px;
            }
        }

        footer {
            display: flex;
            flex-direction: row-reverse;
            height: 114px;
            padding: 0 25px 30px 0;

            h4 {
                display: flex;
                margin: 0;
                align-items: flex-end;
                padding-left: 16px;
            }

            ul {
                flex-direction: row;
                gap: 7px;
                align-items: flex-end;
            }
        }
    }
}