@charset "UTF-8";
/* Mobile par défaut (moins de 1080px) */
* {
  font-family: "Roboto", sans-serif;
  margin: 0;
  scroll-behavior: smooth;
}

h2 {
  font-size: 24px;
  font-weight: 700;
}

a {
  text-decoration: none;
}

.main {
  position: relative;
  background-color: #F6F6F6;
  width: 100%;
}
.main .loader {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: fixed;
  gap: 20px;
  background-color: rgba(255, 255, 255, 0.9);
  color: #353535;
  inset: 0;
  z-index: 3;
  opacity: 1;
  font-size: 24px;
  animation: out 1s linear forwards;
  animation-delay: 2s;
}
@keyframes out {
  0% {
    opacity: 1;
    visibility: visible;
  }
  100% {
    opacity: 0;
    visibility: hidden;
  }
}
.main .loader i {
  animation: spin 1s linear infinite;
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.main .header-logo {
  display: flex;
  height: 63px;
  width: 100%;
  justify-content: center;
  align-items: center;
  background-color: white;
}
.main .header-logo img {
  width: 197px;
  height: 36px;
}
.main .where {
  display: flex;
  flex-direction: row;
  height: 50px;
  justify-content: center;
  align-items: center;
  box-shadow: inset 0px 2px 4px 0px rgba(0, 0, 0, 0.25);
  gap: 17px;
  color: #353535;
  font-weight: 500;
  background-color: #EAEAEA;
}
.main .location {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: inset 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.main .location h1 {
  font-size: 24px;
  margin-top: 39px;
  text-align: center;
  width: 275px;
  height: 68px;
  font-weight: 700;
}
.main .location p {
  font-size: 18px;
  color: #353535;
  width: 315px;
  height: 46px;
  text-align: center;
  margin-bottom: 27px;
  font-weight: 300;
}
.main .location .btn {
  font-size: 16px;
  font-weight: 500;
  text-align: center;
  color: white;
  width: 218px;
  height: 50px;
  background: linear-gradient(#FF79DA, #9356DC);
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.2509803922);
  border-radius: 25px;
  margin-bottom: 57px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  transition: box-shadow 0.5s ease;
}
.main .location .btn::after {
  content: "";
  position: absolute;
  inset: 0;
  background: white;
  opacity: 0;
  transition: opacity 0.2s ease;
  border-radius: 25px;
}
.main .location .btn:hover {
  box-shadow: 0 8px 20px 0 rgba(0, 0, 0, 0.5019607843);
}
.main .location .btn:hover::after {
  opacity: 0.15;
}
.main .how {
  height: 440px;
  display: flex;
  flex-direction: column;
  padding: 0 20px;
  background-color: white;
}
.main .how__title {
  margin-top: 48px;
  margin-bottom: 26px;
}
.main .how .how-to-do {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.main .how .step {
  display: flex;
  flex-direction: row;
  position: relative;
  margin-bottom: 25px;
  align-items: center;
  width: 335px;
}
.main .how .step__content {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  height: 72px;
  width: 100%;
  background-color: #F6F6F6;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.1490196078);
  align-items: center;
  border-radius: 20px;
  margin-left: 12px;
}
.main .how .step__number {
  background-color: #9356DC;
  color: white;
  font-size: 14px;
  font-weight: 500;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  z-index: 1;
}
.main .how .step__icon {
  color: #7E7E7E;
}
.main .how .step__icon--purple {
  color: #9356DC;
}
.main .how .step__text {
  font-size: 16px;
  font-weight: 500;
  width: 211px;
}
.main .restaurants {
  display: flex;
  flex-direction: column;
}
.main .restaurants h2 {
  margin: 54px 20px 0 20px;
}
.main .restaurants .all-cards {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  justify-items: center;
  margin-bottom: 66px;
}
.main .restaurants .card {
  display: flex;
  flex-direction: column;
  max-width: 340px;
  width: 100%;
  height: 251px;
  border-radius: 15px;
  overflow: hidden;
  background-color: white;
  margin-top: 18px;
  position: relative;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.1019607843);
}
.main .restaurants .card__image {
  height: 174px;
  position: relative;
}
.main .restaurants .card__image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}
.main .restaurants .card__image .card__label {
  position: absolute;
  top: 13px;
  right: 12px;
  background-color: #99E2D0;
  width: 80px;
  height: 29px;
  border-radius: 2px;
  font-size: 14px;
  font-weight: 500;
  color: #008766;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main .restaurants .card__content {
  height: 77px;
  padding: 0 25px 0 13px;
  background-color: white;
  display: flex;
  align-items: center;
  color: black;
  justify-content: space-between;
}
.main .restaurants .card__text {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.main .restaurants .card__like {
  position: relative;
  width: 23px;
  height: 21px;
}
.main .restaurants .card__like-input {
  position: absolute;
  opacity: 0;
  width: 100%;
  height: 100%;
  margin: 0;
  cursor: pointer;
  z-index: 2;
}
.main .restaurants .card__like-label {
  position: absolute;
  inset: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.main .restaurants .card__like__icon {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  transition: opacity 1s ease;
}
.main .restaurants .card__like__icon--empty {
  opacity: 1;
}
.main .restaurants .card__like__icon--filled {
  opacity: 0;
}
.main .restaurants .card__like-input:hover + .card__like-label .card__like__icon--empty {
  opacity: 0;
}
.main .restaurants .card__like-input:hover + .card__like-label .card__like__icon--filled {
  opacity: 1;
}
.main .restaurants .card__like-input:checked + .card__like-label .card__like__icon--empty {
  opacity: 0;
}
.main .restaurants .card__like-input:checked + .card__like-label .card__like__icon--filled {
  opacity: 1;
}

footer {
  background-color: #353535;
  color: white;
  padding: 22px 25px;
}
footer h4 {
  font-family: "Shrikhand";
  font-weight: 400;
  font-size: 18px;
  margin-bottom: 16px;
  width: 139px;
}
footer ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 7px;
}
footer ul a {
  color: white;
  text-decoration: none;
  font-weight: 500;
  display: flex;
  align-items: center;
  gap: 10px;
}
footer ul a i {
  font-size: 13px;
  text-align: center;
  width: 13px;
}
footer ul a.with-icon {
  width: 190px;
  height: 19px;
}
footer ul a.without-icon {
  width: 130px;
  height: 19px;
}

/* Desktop (1080px et plus) */
@media (min-width: 1080px) {
  html {
    display: flex;
    justify-content: center;
  }
  html .main .header-logo {
    height: 96px;
  }
  html .main .location {
    margin: 0;
    padding: 30px 0;
    display: flex;
    flex-direction: column;
    gap: 18px;
  }
  html .main .location h1 {
    margin: 0;
    width: auto;
    height: auto;
    font-size: 40px;
    font-weight: 700;
  }
  html .main .location p {
    margin: 0;
    width: auto;
    height: auto;
  }
  html .main .location .btn {
    margin: 0;
  }
  html .main .how {
    height: auto;
    padding: 50px 0;
    display: flex;
    flex-direction: column;
    gap: 25px;
  }
  html .main .how__title {
    margin: 0 auto;
    width: 1080px;
  }
  html .main .how .how-to-do {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 auto;
    max-width: 1080px;
    width: 100%;
  }
  html .main .how .how-to-do .step {
    margin: 0;
  }
  html .main .restaurants {
    display: flex;
    max-width: 1080px;
    margin: 0 auto;
    padding: 30px 0;
  }
  html .main .restaurants h2 {
    margin: 0;
    width: 1080px;
  }
  html .main .restaurants .all-cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin: 0;
    gap: 50px 100px;
  }
  html .main .restaurants .all-cards .card {
    width: 100%;
    max-width: 490px;
  }
  html .main footer {
    display: flex;
    flex-direction: row-reverse;
    height: 114px;
    padding: 0 25px 30px 0;
  }
  html .main footer h4 {
    display: flex;
    margin: 0;
    align-items: flex-end;
    padding-left: 16px;
  }
  html .main footer ul {
    flex-direction: row;
    gap: 7px;
    align-items: flex-end;
  }
}

/*# sourceMappingURL=main.css.map */
